canvas{border: 3px solid #000;}
body{background-color: rgb(100, 200, 200); cursor:crosshair;}
#art{
  background-color: rgb(300,300,300); 
  cursor: crosshair;
}
#buttons {
  position: absolute;
  top: 615px;
  left: 10px;
}

#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#pen {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#eraser {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#cir {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#rec {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#tri {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#text{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#undo{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#redo{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#download{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
#upload{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
.color {
  width: 20px;
  height: 20px;
  float: left;
  left: 10px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;      
}

#red {
  background-color: red; 
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
.font {
  height: 20px;
  float: left;
  left: 10px;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgb(21, 165, 64);
  text-align: center;        
}

.text{
  position: absolute;
  top: 660px;
  left: 480px;
  width: 25%;
}
.text select{
  margin-left: 9%;
  margin-bottom: 25px;
  width:35%; 
  height:20px;
  line-height: 20px;
  font-size: 15px;
  background-color: grey;
  color: white;
}


.text_block{
  position: absolute;
  top: 625px;
  left: 600px;
  width:35%; 
  height:20px;
}

